body {
   /* margin: 0;  */
   display: flex;
   height: 50vh;
   flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
}

.hover {
    box-shadow: 0 1rem 1rem;
}

.down{
    background-color: blue;
}